
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #fff;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.message-pair {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.user-message,
.assistant-message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 15px;
  max-width: 80%;
}

.user-message {
  align-self: flex-end;
  background-color: #dcf8c6; /* light green for user messages */
}

.assistant-message {
  align-self: flex-start;
  background-color: #e5e5ea; /* light grey for assistant messages */
}

.message-content {
  white-space: pre-line; /* Ensures formatting and line breaks are respected */
  padding: 0; /* Adjust or remove padding as needed */
  line-height: 1.2; /* Adjust this value as needed */
}

.messages-container {
  display: flex;
  flex-direction: column;
  /* Remove max-height and width if you want the container to fill the chat-messages */
  overflow-y: auto; /* Allows scrolling within the chat history */
  padding: 20px;
  border: 0px solid #ddd; /* A light border for the chat container */
  border-radius: 8px;
}

.message-input-form {
  display: flex;
  margin-top: 20px;
}

.message-input {
  flex-grow: 2;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 1rem;
  height: auto;
  width: 700px;
  min-height: 50px;
  resize: vertical;
}

.send-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  /* Increase the width of the modal */
  width: 500px; /* Adjust as needed */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Optional: adds a shadow for better visual hierarchy */
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: calc(
    100vh - 80px
  ); /* Adjust the 80px to account for any headers or other fixed-height elements */
  width: 100%;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  width: 800px;
  justify-content: flex-end; /* Align children to the end (bottom) */
  flex-grow: 1;
  overflow-y: auto; /* Makes the messages container scrollable */
}
.chat-footer {
  padding-bottom: 100px; /* Adjust the value as needed */
  width: 100%;
}

/* Padding between form elements */
.form-element {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 0px;
  margin-right: 20px;
}

/* You might want to ensure the last element doesn't have a margin-bottom */
.form-element:last-child {
  margin-bottom: 0;
}

.message-content ol,
.message-content ul {
  padding-left: 20px; /* Adjust as needed */
  margin: 0;
  margin-top: 0;
  margin-bottom: 0.5em; /* Adjust this value as needed */
  list-style-position: inside;
  list-style: none; /* Removes the default list numbering */
  counter-reset: item; /* Creates a counter for your custom numbers */
}
.message-content li {
  /* Add your styles here */
  margin-bottom: 2px; /* Space between list items */
  margin: 0;
  margin-top: 0;
  align-items: flex-start; /* Aligns content to the top */
  flex-wrap: wrap; /* Allows list content to wrap */
  display: block;
  position: relative;
  padding-left: 5px; /* Provides space for the custom number */
}

.message-content li::before {
  flex-shrink: 0; /* Prevents the number from shrinking */
  margin-right: 0.5rem; /* Adds space between the number and list content */
  content: counter(list-item) ". ";
  counter-increment: list-item;
  position: absolute;
  left: -12; /* Aligns the number to the left of the content */
  top: 3; /* Aligns the number to the top of the item */
  font-weight: bold; /* Optional: makes the number bold */
}

.message-content p {
  padding: 2px; /* Adjust as needed */
  line-height: 1.4; /* Adjust line height as needed */
  display: inline-block; /* or 'inline' */
}

.message-content br {
  line-height: 1.4; /* Adjust if <br> adds too much space */
}
